* {
    margin: 0;
    font-family: 'Karma', serif;
}

/* .main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0 30px;
} */

/* h2 {
    font-weight: normal;
}

p {
    font-size: 15px;
    line-height: 22.5px;
}

.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 56px;
    background: white;
    width: 100vw;

} */

/* .nav-menu {
    padding: 5px;
    height: 68px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* .nav-menu div {
    position: absolute;
    height: 100vh;
    width: 22vw;
    left: 0;
    top: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */

/* .nav-menu-toggle-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1;
}

.nav-menu-toggle-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

.nav-menu-toggle-list h1 {
    padding: 10px 40px;
    font-size: 25px;
    font-weight: normal;
} */
/* 
.nav-menu-toggle-list h1:hover {
    background: #cccccc
} */


/* 
.nav-menu:hover {
    background: #cccccc;
} */

/* .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
} */
/* 
.gallery-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding-top: 56px;
    margin-top: 56px;
    margin-bottom: 47px;
}

.gallery-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.gallery-card img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.gallery-card h2 {
    padding: 0 10px 0 10px;
    line-height: 36px;
}

.gallery-card p {
    padding: 0 5px 0 5px;
} */

/* .gallery-section-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
} */


/* 
.gallery-section-toggle p {
    width: fit-content;
    padding: 8px 16px;
} */

/* .gallery-section-toggle-active {
    background: #000;
    color: white;
} */

/* hr {
    margin-bottom: 62px;
    color: #cccccc;
} */

/* .about-section {
    display: flex;
    flex-direction: column;
    gap: 33px;
    align-items: center;
    text-align: center;
    padding-bottom: 99px;
} */

/* .about-section img {
    width: min-content;
    margin-bottom: 9px;
} */

/* .about-section-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
} */

/* .footer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 94px;
    column-gap: 16px;
    padding: 0 8px;
} */
/* 
.footer-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */
/* 
.blog-post-cards {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
} */

/* .blog-post-card {
    display: flex;
    gap: 20px;
    padding: 15px;
} */

/* .blog-post-card:hover {
    background-color: #cccccc;
} */
/* 
.blog-post-cards hr {
    margin: 0 !important;
} */

/* .blog-post-card img {
    width: 50px;
} */

/* .footer-tags {
    display: flex;
    flex-direction: column;
} */

/* .footer-tags div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 20px;
    color: white;
    margin-top: 20px;
} */

/* .footer-tags p {
    background: #616161;
    font-size: 12px;
    padding: 2px 10px;
    height: min-content;
    line-height: 18px !important;
} */

/* .focus {
    font-size: 15px !important;
    padding: 2px 10px !important;
    background: #000 !important;
} */

/* @media (max-width: 900px) { */

    /* .nav-menu div {
        width: 80vw;
    } */

    /* .gallery-section {
        display: flex;
        flex-direction: column;
    } */
/* 
    .about-section img {
        height: 25vh;
        width: 80vw;
    } */

    /* .about-section-details {
        padding: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
} */