* {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Karma', serif;
}

h2 {
    font-weight: normal;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    row-gap: 47px;
}

.gallery-card {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}